/* ------------------------------------------------------------ BREAKPOINTS -------------------------------------------------------- */
$xsm: 360px;
$sm: 576px;
$md: 786px;
$lg: 992px;
$xl: 1200px;
$xxl: 1440px;
$huge: 2000px;


/* ------------------------------------------------------------ COLORS ------------------------------------------------------------ */
$white: #ffffff;
$black: #2b324a;
$blackDark: #000000;
$gray: #484A4E;
$silver: #BFBDBD;
$green: #548853;
$greenButton: #565809;
$blue: #1354b7;
$purple: #8a3fb0;
$link: #0000EE;
$red: #E35151;
$yellow: #feb92c;
$brown: #D8A012;

/* ------------------------------------------------------------ TRANSITION -------------------------------------------------------- */
$transition: all .3s ease-in-out;

/* ------------------------------------------------------------ OPACITY -------------------------------------------------------- */
$opacity: .7;